<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.zvargovic.goldbtcwear">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <!-- OBAVEZNO za mrežu -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- (opcionalno) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GoldApp"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name="hr.zvargovic.goldbtcwear.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WearGold">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>