<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.zvargovic.goldbtcwear">

    <!-- Obavezno za Wear OS app -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <!-- (opcionalno) spriječi spavanje kad je potrebno -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name="hr.zvargovic.goldbtcwear.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WearGold">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- (opcionalno) za pokretanje iz liste appova na nekim uređajima -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>